*.mp3
*.mp4
*.svg
*.jpg
*.png
*.svg
*.ico
my-react-app/
src/
*node_modules/
*package-lock.json
*package.json
*songs/
*.next/
*eslint.config.mjs
*next.config.mjs
*jsconfig.json
*postcss.config.mjs



git add .
git commit -m "Added code"
git push
