  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;

  }

  body {
      background-color: black;
      color: white;
  }

  .df {
      display: flex;
  }

  .left {
      width: 25vw;
      padding: 10px;
  }

  .right {
      width: 75vw;
      position: relative;
      /* display: flex; */

  }

  .home ul li {
      display: flex;
      width: 14px;
      list-style: none;
      gap: 15px;
      padding-top: 15px;
      font-weight: bold;
  }

  /* .home{
    padding: 10px;
} */

  .bg-black {
      background-color: black;
      color: white;
  }

  .invert {
      filter: invert(1);
  }

  .p-1 {
      padding: 10px
  }


  .bg-grey {
      background-color: #121212;
  }


  .heading {
      display: flex;
      width: 14px;
      list-style: none;
      gap: 15px;
      padding-top: 15px;
      font-weight: bold;
      align-items: center;

  }

  .library {
      min-height: 80vh;
      position: relative;
  }


  .footer {
      display: flex;
      font-size: 10px;

      color: grey;
      gap: 13px;
      position: absolute;
      bottom: 0px;
      padding: 10px 0px;

  }


  .footer a {
      color: grey;
  }


  .right {
      margin: 15px;

  }

  .header {
      display: flex;
      justify-content: space-between;
      background-color: rgb(34, 34, 34);
  }


  .header>* {
      padding: 20px;
  }

  .spotifyPlaylist {
      padding: 10px;

  }

  .cardContainer {
      margin: 30px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      /* 67 */
      max-height: 67vh;
      overflow-y: scroll;
  }



  .card {
      width: 250px;
      padding: 10px;
      border-radius: 5px;
      background-color: #252525;
      position: relative;

  }

  .card>* {
      padding-top: 10px;
  }

  .card img {
      width: 100%;
      object-fit: contain;
  }


  .play {
      cursor: pointer;

      position: absolute;
      top: 190px;
      right: 17px;
      transition: background 0.3s ease;
      transform: translateY(20px);
      transition: all 0.3s ease;
      opacity: 0;


  }

  .play:hover {
      transform: translateY(30px);
      transition: all 0.7s ease;

  }

  .card:hover .play {
      opacity: 1;
      transform: translateY(0);
  }



  .signupbtn {
      background: #252525;
      color: rgb(193, 186, 186);

      border: none;
      outline: none;

      padding: 12px 32px;
      border-radius: 999px;

      font-size: 15px;
      font-weight: 700;

      cursor: pointer;

      transition: all 0.25s ease;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

  /* Hover Effect */
  .signupbtn:hover {
      transform: scale(1.06);
      color: rgb(0, 0, 0);

      background: #1ed760;

      box-shadow: 0 12px 25px rgba(30, 215, 96, 0.4);
  }


  .buttons {
      gap: 13px;
      display: flex;
  }

  /* Click Effect */
  .signupbtn:active {
      transform: scale(0.96);
  }

  .loginbtn {
      background: white;
      color: black;

      border: none;
      outline: none;

      padding: 12px 32px;
      border-radius: 999px;

      font-size: 15px;
      font-weight: 700;

      cursor: pointer;

      transition: all 0.25s ease;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

  /* Hover Effect */
  .loginbtn:hover {
      transform: scale(1.06);

      background: #1ed760;

      box-shadow: 0 12px 25px rgba(30, 215, 96, 0.4);
  }

  /* Click Effect */
  .loginbtn:active {
      transform: scale(0.96);
  }




  .playbar {
      /* filter: invert(1); */
      position: absolute;
      bottom: 12px;
      left: 10px;
      right: 10px;
      background-color: #282828;
      /* width: 90%; */
      padding: 12px;
      width: 70vw;
      border-radius: 19px;
      /* border: 1px solid red; */
  }

  .songinfo {
      display: flex;
  }

  .songbuttons {
      /* cursor: pointer; */
      display: flex;
      justify-content: center;
      gap: 17px;
  }

  .playsongbutton {
      transition: all 0.25s ease;
  }

  .playsongbutton:hover {
      transform: scale(1.06);
  }

  .playsongbutton:active {
      transform: scale(0.96);
  }


  .songlist {
      height: 540px;
      overflow: auto;
      margin-bottom: 44px;
  }



  .songlist ul {
      padding: 0 12px;
  }

  .songlist ul li {
      list-style-type: decimal;
      display: flex;
      justify-content: space-between;
      gap: 34px;
      cursor: pointer;
      padding: 12px 0;
      border: 1px solid white;
      margin: 12px 0;
      padding: 13px;
      border-radius: 5px;
  }


  .playnow {
      display: flex;
      justify-content: center;
      align-items: center;
  }


  .playnow span {
      width: 64px;
      font-size: 10px;

  }


  .songlist .info {
      font-size: 13px;
      width: 344px;
  }



  .seekbar {
      cursor: pointer;
      height: 8px;
      width: 98%;
      background: whitesmoke;
      border-radius: 9px;
      position: absolute;
      bottom: 0;
      margin: 6px;
  }


  .circle {
      width: 13px;
      height: 13px;
      border-radius: 13px;
      background-color: rgb(0, 0, 0);
      position: relative;
      bottom: 11px;
      bottom: 3.5px;
      left: 0%;
      transition: left 0.5s;

  }

  .hamburger {
      display: none;

  }

  .abovebar {
      display: flex;
      justify-content: space-around;
  }



  .hamburgercontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
  }

  .left .close {
      display: none;

  }





  @media (max-width: 1400px) {


      .left {
          position: absolute;
          left: -110%;
          transition: all .3s;

          z-index: 1;

          width: 100%;


      }

      .left .close {
        display: block;
          position: absolute;
          right: 30px;
          top: 25px;
      }


      .right {
          width: 100vw;
          min-height: 100vh;
          position: relative;

      }

      .playbar {
          position: absolute;
          width: 95vw;
          bottom: 0px;
          left: 0;
          right: 0;
          border-radius: 0;
          z-index: 99;


      }

      .hamburger {
          display: block;
          height: 40px;
      }
  }