.about {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: 50px auto;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    align-items: start;
}
.highlight {
    background-color: #e6ffa0;   
    padding: 15px 20px;
    border-radius: 8px;
    max-width: 100%;;
}
p {
    font-size: large;
}


.description h1 {
    margin: 0;
    font-size: 60px;
    color: #2c3e50;
}

.description p {
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.6;
    color: #555;
}
.footer {
    margin-top: 80px;
    padding: 30px 0;
    background-color: #f5f5f5;
}

.leetcode-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("leetcode.svg"); /* download svg */
    background-size: contain;
    background-repeat: no-repeat;
}

.social-links {
    display: flex;
    justify-content: center; /* CENTER */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 25px;
    background-color: #1abc9c;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

.social-links a i {
    font-size: 20px;
}

.social-links a:hover {
    background-color: #16a085;
    transform: translateY(-3px);
}
